.paginationWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 295px;
  margin: 0 auto;
  margin-top: 40px;
}

.prevNextBtnsBox {
  display: flex;
  align-items: center;
  gap: 4px;
}

.prevNextBtn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid rgba(29, 30, 33, 0.2);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  transition: border-color 300ms ease;

  & svg {
    fill: #262626;
  }

  &:hover {
    border-color: rgba(29, 30, 33, 0.4);
  }

  &:disabled {
    border-color: rgba(29, 30, 33, 0.05);

    & svg {
      fill: rgba(29, 30, 33, 0.5);
    }
  }
}

.iconFirstLastBtnOne {
  position: absolute;
  top: 50%;
  left: 11px;
  transform: translateY(-50%);
  fill: #1d1e21;
}

.iconFirstLastBtnTwo {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  fill: #1d1e21;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 4px;
  padding: 0;
  margin: 0;
}

.link,
.break {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid rgba(29, 30, 33, 0.05);
  border-radius: 50%;
  width: 35px;
  height: 35px;

  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  color: #1d1e21;

  transition: border-color 300ms ease;

  &:hover {
    border-color: rgba(29, 30, 33, 0.4);
  }
}

.active {
  background-color: #59b17a;
  border: none;
  color: #fff;

  transition: background-color 300ms ease;

  &:hover {
    background-color: #3f945f;
  }
}

.previous,
.next,
.notFirstPage {
  display: none;
}

@media only screen and (min-width: 768px) {
  .paginationWrapper {
    max-width: 446px;
    margin-top: 80px;
  }

  .prevNextBtnsBox {
    gap: 8px;
  }

  .pagination {
    gap: 10px;
  }

  .prevNextBtn {
    width: 44px;
    height: 44px;

    & svg {
      width: 24px;
      height: 24px;
    }
  }

  .link,
  .break {
    width: 44px;
    height: 44px;

    font-size: 18px;
    line-height: 122%;
  }
}
