.item {
  width: 100%;
}

.linkCard {
  position: relative;
  display: block;
  border: 1px solid #f1f1f1;
  border-radius: 27px;
  padding: 31px 31px 39px 31px;
  background-color: #e7f1ed;
  overflow: hidden;

  transition: box-shadow 300ms ease;

  &:hover,
  &:focus {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
}

.topBox {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 20px;
}

.titleItem {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #1d1e21;
}

.topRightBox {
  display: flex;
  align-items: center;
  gap: 14px;
}

.ratingBox {
  display: flex;
  align-items: center;
  gap: 6px;
}

.starIcon {
  fill: #ffc531;
}

.ratingNumber {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  color: #1d1e21;
}

.openCloseBadge {
  border-radius: 8px;
  padding: 8px 16px;

  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  &.open {
    background-color: rgba(89, 177, 122, 0.1);
    color: #59b17a;
  }

  &.close {
    background: rgba(232, 80, 80, 0.1);
    color: #e85050;
  }
}

.contactsBox {
  display: flex;
  gap: 8px;

  &:not(:last-of-type) {
    margin-bottom: 18px;
  }
}

.addressBox {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.infoText {
  font-size: 14px;
  line-height: 129%;
  color: #93939a;
}

.infoIcon {
  fill: none;
  stroke: #59b17a;
}

@media only screen and (min-width: 768px) {
  .item {
    width: unset;
    flex-basis: calc((100% - 16px) / 2);

    position: relative;
    border: 1px solid #f1f1f1;
    border-radius: 27px;
    padding: 39px;
    background-color: #e7f1ed;
    overflow: hidden;
  }

  .titleItem {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .contactsBox:not(:last-of-type) {
    margin-bottom: 14px;
  }

  .centerBox {
    margin-bottom: 36px;
  }

  .infoText {
    font-size: 16px;
    line-height: 125%;
  }

  .bottomBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .link {
    border-radius: 24px;
    padding: 10px 16px;
    background-color: #59b17a;

    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    color: #fff;

    transition: background-color 300ms ease;

    &:hover,
    &:focus {
      background-color: #3f945f;
    }
  }
}

@media only screen and (min-width: 1440px) {
  .item {
    flex-basis: calc((100% - 40px) / 3);
  }
}
