.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media only screen and (min-width: 768px) {
  .list {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px 13px;
  }
}

@media only screen and (min-width: 1440px) {
  .list {
    gap: 40px 21px;
  }
}
