.link {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logoText {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.03em;
  color: #1d1e21;

  &.white {
    color: #fff;
  }

  &.whiteOff {
    color: #f7f8fa;
  }
}

@media only screen and (min-width: 768px) {
  .link {
    gap: 14px;
  }

  .logoIcon {
    width: 44px;
    height: 44px;
  }

  .logoText {
    font-size: 20px;
  }
}
