.section {
  padding-top: 40px;
  margin-bottom: 20px;
}

.box {
  width: 100%;
  border-radius: 32px;
  padding: 20px;
  background-color: #59b17a;
  overflow: hidden;
}

.contentBox {
  padding: 20px 0;
  margin-bottom: 19px;
}

.title {
  font-weight: 600;
  font-size: 28px;
  line-height: 114%;
  letter-spacing: -0.01em;
  color: #f1f1f1;
  margin-bottom: 20px;
}

.description {
  font-size: 14px;
  line-height: 129%;
  color: #f1f1f1;
  margin-bottom: 40px;
}

.link {
  border: 1px solid rgba(241, 241, 241, 0.5);
  border-radius: 60px;
  padding: 12px 31px;

  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  color: #f1f1f1;

  transition:
    color 300ms ease,
    border-color 300ms ease;

  &:hover,
  &:focus {
    border-color: #fff;
    color: #fff;
  }
}

.imgBox {
  position: relative;
  width: 100%;
  height: 335px;
  border-radius: 0 24px 24px 0;

  background-image: url("/img/pharmacy-promo/pharmacy-promo-mob.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-resolution: 2dppx),
  (min-resolution: 192dpi),
  (-webkit-min-device-pixel-ratio: 2) {
  .imgBox {
    background-image: url("/img/pharmacy-promo/pharmacy-promo-mob@2x.webp");
  }
}

.ellipse {
  position: absolute;
  top: -121px;
  left: -310px;

  width: 342px;
  height: 578px;
  border-radius: 50%;
  background-color: #59b17a;
}

@media only screen and (min-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 32px;
  }

  .box {
    padding: 40px 48px;
  }

  .contentBox {
    padding: 64px 0;
  }

  .title {
    font-size: 48px;
    line-height: 115%;
    margin-bottom: 24px;
  }

  .description {
    max-width: 488px;
    font-size: 16px;
    line-height: 125%;
  }

  .link {
    padding: 12px 49px;
  }

  .imgBox {
    height: 406px;
    background-image: url("/img/pharmacy-promo/pharmacy-promo-tab.webp");
  }

  @media screen and (min-resolution: 2dppx),
    (min-resolution: 192dpi),
    (-webkit-min-device-pixel-ratio: 2) {
    .imgBox {
      background-image: url("/img/pharmacy-promo/pharmacy-promo-tab@2x.webp");
    }
  }

  .ellipse {
    top: -147px;
    left: -626px;

    width: 699px;
    height: 700px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    padding: 0 96px;
  }

  .box {
    padding: 40px 40px 40px 80px;
    display: flex;
    align-items: center;
    gap: 19px;
  }

  .contentBox {
    margin-bottom: unset;
  }

  .title {
    font-size: 48px;
    line-height: 115%;
    margin-bottom: 24px;
  }

  .imgBox {
    width: 603px;
    flex-shrink: 0;
  }
}
